---
// Lightweight inline-SVG icon set (stroke-based, heroicons-style).
// Usage: <Icon name="battery" class="size-6" />
interface Props {
  name: string;
  class?: string;
  title?: string;
}
const { name, class: className = 'size-6', title } = Astro.props;

const paths: Record<string, string> = {
  home: 'M2.25 12 11.2 3.04a1.13 1.13 0 0 1 1.6 0L21.75 12M4.5 9.75v9.75a.75.75 0 0 0 .75.75H9.5v-5.25a.75.75 0 0 1 .75-.75h3.5a.75.75 0 0 1 .75.75V20.25h4.25a.75.75 0 0 0 .75-.75V9.75',
  building: 'M3.75 21h16.5M4.5 21V5.25A1.5 1.5 0 0 1 6 3.75h7.5A1.5 1.5 0 0 1 15 5.25V21m0-12.75h3.75A1.5 1.5 0 0 1 20.25 9.75V21M7.5 6.75h.75m-.75 3h.75m-.75 3h.75M11.25 6.75H12m-.75 3H12m-.75 3H12',
  factory: 'M3.75 21h16.5M4.5 21V9.75l5.25 3.75V9.75L15 13.5V6a1.5 1.5 0 0 1 1.5-1.5h2.25A1.5 1.5 0 0 1 20.25 6v15M8.25 21v-3.75h3.75V21',
  battery: 'M3.75 7.5A1.5 1.5 0 0 1 5.25 6h11.25a1.5 1.5 0 0 1 1.5 1.5v9a1.5 1.5 0 0 1-1.5 1.5H5.25a1.5 1.5 0 0 1-1.5-1.5v-9ZM18 9.75h1.5a.75.75 0 0 1 .75.75v3a.75.75 0 0 1-.75.75H18M6.75 9.75v4.5M9.75 9.75v4.5',
  bolt: 'M12.75 3.75 5.25 13.5h6L11.25 20.25l7.5-9.75h-6l.75-6.75Z',
  leaf: 'M3.75 20.25c0-7.5 6-13.5 16.5-13.5 0 9-6 13.5-12 13.5a6 6 0 0 1-4.5-1.5Zm0 0C7.5 16.5 11.25 13.5 15.75 11.25',
  wrench: 'M11.42 9.42a4.5 4.5 0 0 1 5.66-5.66l-3 3 .9 2.68 2.68.9 3-3a4.5 4.5 0 0 1-5.66 5.66l-6.3 6.3a2.12 2.12 0 1 1-3-3l6.3-6.3Z',
  sparkles: 'M9.75 3.75 11.06 7.2a1.5 1.5 0 0 0 .89.89l3.45 1.31-3.45 1.31a1.5 1.5 0 0 0-.89.89L9.75 15.06 8.44 11.6a1.5 1.5 0 0 0-.89-.89L4.1 9.4l3.45-1.31a1.5 1.5 0 0 0 .89-.89L9.75 3.75ZM18 13.5l.66 1.74.74.28-.74.28L18 17.54l-.66-1.74-.74-.28.74-.28L18 13.5Z',
  roof: 'M2.25 12 12 4.5 21.75 12M5.25 9.75V19.5a.75.75 0 0 0 .75.75h12a.75.75 0 0 0 .75-.75V9.75M9 20.25v-4.5a.75.75 0 0 1 .75-.75h4.5a.75.75 0 0 1 .75.75v4.5',
  sun: 'M12 3v1.5m0 15V21m9-9h-1.5m-15 0H3m15.36-6.36-1.06 1.06M6.7 17.3l-1.06 1.06m12.72 0-1.06-1.06M6.7 6.7 5.64 5.64M16.5 12a4.5 4.5 0 1 1-9 0 4.5 4.5 0 0 1 9 0Z',
  grid: 'M3.75 3.75h6.5v6.5h-6.5v-6.5Zm10 0h6.5v6.5h-6.5v-6.5Zm-10 10h6.5v6.5h-6.5v-6.5Zm10 0h6.5v6.5h-6.5v-6.5Z',
  shield: 'M12 3 4.5 6v5.25c0 4.66 3.2 8.46 7.5 9.75 4.3-1.29 7.5-5.09 7.5-9.75V6L12 3Zm-1 9 1.5 1.5L15 9.75',
  car: 'M5.25 16.5h13.5m-13.5 0v2.25a.75.75 0 0 1-.75.75H3.75a.75.75 0 0 1-.75-.75V13.5l2.1-5.4a1.5 1.5 0 0 1 1.4-.96h10.99a1.5 1.5 0 0 1 1.4.96l2.1 5.4v5.25a.75.75 0 0 1-.75.75H19.5a.75.75 0 0 1-.75-.75V16.5M3 13.5h18M6.75 13.5v-.01M17.25 13.5v-.01',
  search: 'm21 21-4.35-4.35M17 10.5a6.5 6.5 0 1 1-13 0 6.5 6.5 0 0 1 13 0Z',
  monitor: 'M3.75 5.25h16.5a.75.75 0 0 1 .75.75v9a.75.75 0 0 1-.75.75H3.75a.75.75 0 0 1-.75-.75v-9a.75.75 0 0 1 .75-.75ZM9 19.5h6M12 15.75v3.75M7.5 9.75 10.5 12l3-3.75 3 3',
  phone: 'M2.25 6.75c0 8.28 6.72 15 15 15h2.25a.75.75 0 0 0 .75-.75v-3.05a.75.75 0 0 0-.57-.73l-4.3-1a.75.75 0 0 0-.78.28l-1.1 1.46a11.3 11.3 0 0 1-5.36-5.36l1.46-1.1a.75.75 0 0 0 .28-.78l-1-4.3a.75.75 0 0 0-.73-.57H3a.75.75 0 0 0-.75.75v2.4Z',
  mail: 'M3 6.75h18a.75.75 0 0 1 .75.75v9a.75.75 0 0 1-.75.75H3a.75.75 0 0 1-.75-.75v-9A.75.75 0 0 1 3 6.75Zm0 .75 9 6 9-6',
  clock: 'M12 6.75V12l3.75 2.25M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z',
  check: 'm4.5 12.75 6 6 9-13.5',
  'check-circle': 'M9 12.75 11.25 15 15 9.75M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z',
  'arrow-right': 'M13.5 4.5 21 12m0 0-7.5 7.5M21 12H3',
  'chevron-down': 'm4.5 8.25 7.5 7.5 7.5-7.5',
  star: 'M11.48 3.5a.56.56 0 0 1 1.04 0l2.13 4.83 5.24.46c.5.05.7.67.32 1l-3.97 3.45 1.18 5.15c.11.49-.42.87-.85.61L12 16.78l-4.57 2.72c-.43.26-.96-.12-.85-.61l1.18-5.15-3.97-3.45c-.38-.33-.18-.95.32-1l5.24-.46L11.48 3.5Z',
  calculator: 'M6 2.25h12a.75.75 0 0 1 .75.75v18a.75.75 0 0 1-.75.75H6a.75.75 0 0 1-.75-.75V3A.75.75 0 0 1 6 2.25Zm2.25 3.75h7.5v3h-7.5v-3Zm0 6h.75m3 0h.75m3 0h.75m-8.25 3h.75m3 0h.75m3 0h.75m-8.25 3h.75m3 0h.75',
  dollar: 'M12 6v12m3-9.75c0-1.24-1.34-2.25-3-2.25S9 7.01 9 8.25 10.34 10.5 12 10.5s3 1.01 3 2.25-1.34 2.25-3 2.25-3-1.01-3-2.25',
  map: 'M9 3.75 3.75 6v14.25L9 18l6 2.25 5.25-2.25V3.75L15 6 9 3.75Zm0 0v14.25m6-12v14.25',
  'map-pin': 'M12 21s7.5-6.27 7.5-11.25a7.5 7.5 0 1 0-15 0C4.5 14.73 12 21 12 21Zm0-8.25a3 3 0 1 0 0-6 3 3 0 0 0 0 6Z',
  users: 'M15 19.5a6 6 0 0 0-12 0M9 11.25a3.75 3.75 0 1 0 0-7.5 3.75 3.75 0 0 0 0 7.5Zm12 8.25a5.25 5.25 0 0 0-7.5-4.74M16.5 11.25a3 3 0 1 0 0-6',
  award: 'M12 15a5.25 5.25 0 1 0 0-10.5A5.25 5.25 0 0 0 12 15Zm-3 .9L7.5 21.75 12 19.5l4.5 2.25L15 15.9M12 7.5l.6 1.35 1.4.15-1.05.97.3 1.43L12 11.1l-1.25.7.3-1.43-1.05-.97 1.4-.15L12 7.5Z',
  'trending-up': 'M3 16.5 9 10.5l3.75 3.75L21 6m0 0h-5.25M21 6v5.25',
  plug: 'M9 3v4.5M15 3v4.5M6.75 7.5h10.5v3a5.25 5.25 0 0 1-10.5 0v-3ZM12 15.75V21',
  quote: 'M9.75 6.75C7.13 7.95 6 10.2 6 12.75v4.5h4.5v-4.5H8.25c0-1.66.66-2.7 2.25-3.45l-.75-2.55Zm8.25 0c-2.62 1.2-3.75 3.45-3.75 6v4.5H18.75v-4.5H16.5c0-1.66.66-2.7 2.25-3.45L18 6.75Z',
};

const d = paths[name] ?? paths['check'];
---
<svg
  class={className}
  viewBox="0 0 24 24"
  fill="none"
  stroke="currentColor"
  stroke-width="1.6"
  stroke-linecap="round"
  stroke-linejoin="round"
  aria-hidden={title ? undefined : 'true'}
  role={title ? 'img' : undefined}
>
  {title && <title>{title}</title>}
  <path d={d} />
</svg>
